


movie_info_list = {};

movie_info_list = add_movie_info(movie_info_list,64350,440,200,'BBC_FE');
movie_info_list = add_movie_info(movie_info_list,47925,400,215,'BBC_NW_ADM');


for i = length(movie_info_list)
    get_mat_movie_func(movie_info_list{i}.prefix, movie_info_list{i}.xstart, ...
        movie_info_list{i}.ystart, movie_info_list{i}.start_idx);
end
